:root {
  --dark-bg: #162e54;
  --lighter-bg: #163d54;
  --lightest-bg: #2e5086;
  --light-green: #acdfb8;
  --inner-content-width: min(80vw, 1350px);
}
.section {
  width: 90vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-section {
    background: linear-gradient(
        90deg,
        var(--dark-bg),
        var(--lighter-bg)
    );
    --primary-bg: #21437a88;
    color: #FFFFFF;
}
.light-section {
    background: #FFFFFF;
    --primary-bg: #def5fb;
    --secondary-bg: #498599;
    color: #001941
}

.heading {
  margin: 8px;
}
.light-section .heading {
    background: linear-gradient(
      90deg,
        var(--dark-bg),
        var(--lightest-bg)
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.dark-section .heading {
  color: white;
}
.subheading {
  margin: 0;
  font-size: 22px;
  text-align: center;
}
