:root {
  --dark-bg: #162e54;
  --light-bg: #d3e3fb;
  --light-green: #90E4A3;
}
.section {
  width: 90vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.light-section {
  /* background: var(--light-green); */
  background: #FFFFFF;
}
.header {
  font-size: 36px;
}
.subheading {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
